In [38]:
import warnings 
warnings.filterwarnings('ignore')

# Numerical libraries
import numpy as np   
# to handle data in form of rows and columns 
import pandas as pd

In [39]:
#Import data.csv
df =  pd.read_csv('C:\\Users\\anshumans\\Downloads\\data.csv')

df.head(10)

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84
5            6                         73                         86
6            7                         35                         32
7            8                        110                        104
8            9                         44                         38
9           10                         82                        107

In [40]:
#Find the mean of old scheme and new scheme column.
#Mean of Old Schema
df['Old Scheme (in thousands)'].mean()

68.03333333333333

In [41]:
#Mean of New Schema
df['New Scheme (in thousands)'].mean()

72.03333333333333

In [42]:
#Use the five percent significance test over the data 
#to determine the p value to check new scheme has significantly raised outputs?

In [43]:
from    scipy.stats             import  ttest_1samp,ttest_ind, wilcoxon, ttest_ind_from_stats
import  scipy.stats             as      stats  
from    statsmodels.stats.power import  ttest_power
import  matplotlib.pyplot       as      plt

In [44]:
oldSchema = np.array(df['Old Scheme (in thousands)'])
print(oldSchema)

[ 57 103  59  75  84  73  35 110  44  82  67  64  78  53  41  39  80  87
  73  65  28  62  49  84  63  77  67 101  91  50]

In [45]:
newSchema = np.array(df['New Scheme (in thousands)'])
print(newSchema)

[ 62 122  54  82  84  86  32 104  38 107  84  85  99  39  34  58  73  53
  66  78  41  71  38  95  81  58  75  94 100  68]

In [46]:
print('Old Schema Mean is %3.2f and standard deviation is %3.2f' %(oldSchema.mean(),np.std(oldSchema,ddof = 1)))

Old Schema Mean is 68.03 and standard deviation is 20.46

In [47]:
print('New Schema Mean is %3.2f and standard deviation is %3.2f' %(newSchema.mean(),np.std(newSchema,ddof = 1)))

New Schema Mean is 72.03 and standard deviation is 24.06

In [48]:
t_statistic, p_value  =  stats.ttest_rel(oldSchema, newSchema)
print('P Value %1.3f' % p_value)

P Value 0.131

In [49]:
# What conclusion does the test (p-value) lead to?
print("p value is 0.131 and it is less than 5% level of significance")

print("So the statistical decision is to reject the null hypothesis at 5% level of significance.")

p value is 0.131 and it is less than 5% level of significance
So the statistical decision is to reject the null hypothesis at 5% level of significance.

In [50]:
t_statistic, p_value  =  stats.ttest_1samp(D, 0)
print('P Value %1.3f' % p_value)

P Value 0.131

In [51]:
n         = 30    # sample size
sigma     = 24 # population standard deviation
serr      = sigma / np.sqrt(n) # Standard Error

alpha     = 0.05     # significance level
mu0       = 50000 #  hypothetical lower bound
q         = int(round(stats.norm.isf(q = alpha, loc = mu0, scale = serr),0))
print(q)

50007

In [52]:
#The probability of a type 1 error?
mu1  = 50000 # Actual mean

p = round(1 - stats.norm.cdf(q, loc = mu1, scale = serr),4)
print('At 5 %s level of significance, the probability of having type I error\n\
       for a sample size of 30  is %2.4f' %('%',p))

At 5 % level of significance, the probability of having type I error
       for a sample size of 30  is 0.0551

In [34]:
#Power of the test 
print('At 5 %s level of significance, the POWER OF THE TEST\n \
      for a sample size of is %2.4f' %('%',1 - p))

At 5 % level of significance, the POWER OF THE TEST
       for a sample size of is 0.9449

In [37]:
#What is the p- value of the hypothesis test if we test for a difference of $5000? (10 points)
D  = newSchema - oldSchema
print(D)
print('Mean is %3.2f and standard deviation is %3.2f' %(D.mean(), np.std(D,ddof = 1)))

[  5  19  -5   7   0  13  -3  -6  -6  25  17  21  21 -14  -7  19  -7 -34
  -7  13  13   9 -11  11  18 -19   8  -7   9  18]
Mean is 4.00 and standard deviation is 14.08

In [53]:
n         = 30    # sample size
sigma     = 14 # population standard deviation
serr      = sigma / np.sqrt(n) # Standard Error

alpha     = 0.05     # significance level
mu0       = 50000 #  hypothetical lower bound
q         = int(round(stats.norm.isf(q = alpha, loc = mu0, scale = serr),0))
print(q)

50004

In [54]:
#The probability of a type 1 error?
mu1  = 50000 # Actual mean

p = round(1 - stats.norm.cdf(q, loc = mu1, scale = serr),4)
print('At 5 %s level of significance, the probability of having type I error\n\
       for a sample size of 30  is %2.4f' %('%',p))

At 5 % level of significance, the probability of having type I error
       for a sample size of 30  is 0.0588